body {
    font-family: 'Playfair Display';
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 0;
    background-color: #b1e3ea;
    }

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    }

header {
    background-image: url(header.jpg);
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: 'Playfair Display';
}

@media (max-width: 768px) {
    header {
        height: 150px; 
    }
}

.app-container {
    width: 70%;
    height: fit-content;
    margin: auto;
    background-color: #b1e3ea;
}

nav a:hover, nav a:focus {
    background-color: #0496ac; 
    box-shadow: 0 0 5px rgba(50, 131, 175, 0.5); 
    outline: none; 
}

nav a:active {
    background-color: #007bff; 
    box-shadow: inset 0 0 5px rgba(197, 221, 233, 0.916); 
}

nav a {
    background-color: #00e5ffdd; 
    color: black; 
    border: none; 
    padding: 10px 20px; 
    margin: 0 50px; 
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px; 
    font-family: 'Playfair Display';
    cursor: pointer; 
    border-radius: 5px; 
    transition: background-color 0.3s, box-shadow 0.3s;
}

form {
    background-color: rgba(203, 231, 245, 0.779);
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #041eac;
}

.form-group input,
.form-group select,
.form-group button {
    width: -webkit-fill-available;
    padding: 7px;
    margin-top: auto;
    font-family: 'Playfair Display';
}

.result-display {
    margin-top: 10px;
    padding: 10px;
    color: rgba(247, 247, 247, 0.913);
    text-align: center;
    border-radius: 4px;
  }
  
  .high-risk {
    background-color: red;
  }
  
  .low-risk {
    background-color: green;
  }
  

.form-group {
    margin-bottom: 15px; 
    font-family: 'Playfair Display';
    width: 100%;
}

.form-group label,
.form-group button,
.form-group input {
    display: block; 
    margin-bottom: 5px; 
    font-family: 'Playfair Display';
    font-weight: bold;
}

.form-group input[type="date"], input[type="text"], select,input[type="number"] {
    padding: 8px; 
    border: 2px solid #003cff68; 
    border-radius: 4px; 
    box-sizing: content-box; 
}

.form-group select:focus {
    border-color: #007bff; 
    outline: none; 
}

.form-group button:hover,
.form-group input:hover,
.form-group select:hover {
    border-color: #0022ff; 
}

.input-group input[type="date"],
.input-group input[type="text"],
.input-group button,
.input-group select {
  width: 70%; 
  padding: 8px; 
  border: 2px solid #003cff68; 
  border-radius: 4px; 
  box-sizing: content-box; 
}

.Predict-group {
    width: 97%;
    padding: 7px;
    margin-top: auto;
    font-family: 'Playfair Display';
}

.predict {
    background-color: rgb(52, 52, 249);
    color: rgb(255, 255, 255); 
    border: none; 
}

.predict:hover {
    background-color: rgb(220, 169, 139); 
    color: black; 
}

.predict:active {
    background-color: rgb(97, 195, 227); 
    color: darkgray; 
}

.reset {
    background-color: rgb(193, 138, 251);
    color: rgb(255, 255, 255); 
    border: none; 
}

.reset:hover {
    background-color: rgb(215, 182, 153); 
    color: black; 
}

.reset:active {
    background-color: rgb(97, 195, 227); 
    color: darkgray; 
}